$token-spacing-2: 2px;
$token-spacing-4: 4px;
$token-spacing-8: 8px;
$token-spacing-12: 12px;
$token-spacing-16: 16px;
$token-spacing-20: 20px;
$token-spacing-24: 24px;
$token-spacing-28: 28px;
$token-spacing-32: 32px;
$token-spacing-36: 36px;
$token-spacing-40: 40px;
$token-spacing-44: 44px;
$token-spacing-48: 48px;
$token-spacing-52: 52px;
$token-spacing-56: 56px;
$token-spacing-60: 64px;
$token-spacing-64: 64px;
$token-spacing-68: 64px;
$token-spacing-72: 72px;
$token-spacing-76: 76px;
$token-spacing-80: 80px;
$token-spacing-84: 84px;
$token-spacing-88: 88px;
$token-spacing-92: 92px;
$token-spacing-96: 96px;
$token-spacing-none: 0px;
$token-spacing-xsmall: 2px;
$token-spacing-small: 4px;
$token-spacing-base: 8px;
$token-spacing-medium: 16px;
$token-spacing-large: 24px;
$token-spacing-xlarge: 28px;
$token-spacing-huge: 32px;
$token-spacing-xhuge: 36px;
